.container {
	display: flex;
	align-items: center;
	padding: 50px;
	flex-direction: column;
}


.container:global(#reviews) {
	background-color: rgba(80, 5, 5, 0.94);
}

.container:global(#story) {
	background-color: rgba(5, 30, 5, 0.94);
}

.container:global(#author) {
	background-color: rgba(5, 5, 40, 0.4);
}

.container:global(#development) {
	background-color: rgba(50, 50, 50, 0.68);
}

.container:global(#contact) {
	background-color: rgba(0, 50, 0, 0.68);
}


.container:not(:global(#reviews)) > div {
	width: 100%;
	max-width: 980px;
}

.container > div {
	margin: 20px 0;
	font-weight: 300;
	line-height: 1.5em;
}

div.author {
	font-weight: 500;
}

.container a:link, .container a:visited, .container a:hover, .container a:active {
	text-emphasis: none;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.title {
	font-size: xx-large;
	font-weight: bolder;
	margin: 5px 0;
	text-decoration: none;
}

.subtitle {
	font-weight: lighter;
}

.leftQuote {
	position: absolute;
	font-size: 50px;
	left: -2ch;
	top: -0.5em;
}

.rightQuote {
	position: absolute;
	font-size: 50px;
	right: -2ch;
	bottom: -0.5em;
}

.signature {
	filter: invert(1.0) grayscale(100%) brightness(100) contrast(500%);
	height: 100px;
}