#root {
	display: flex;
	font-family: 'Roboto', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
}

.App {
	background-image: url('/images/cover-plain.jpg');
	background-repeat: no-repeat;
	background-color: #111111;
	background-position: 50%;
	height: 100%;
	width: 100%;

	position: fixed;
	z-index: -1;
    color: white;
    justify-content: stretch;
	font-size: larger;
	
	display: grid;
	grid-template-rows: 12vh 88vh;
}

.main {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
}

@media only screen and (max-width: 500px) {
    div.installer {
        flex-direction: column;
    }
    div.icons {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: unset;
    }
    .header > div.logoWrapper {
        height: 20vh;
    }
}

.installer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.installer > img {
    height: 100px;
}

a.mobile {
    background-color: darkgreen;
}

.downloadLink {
    background-color: deepskyblue;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px;
    color: black;
    text-emphasis: none;
    text-decoration: none;
    border-radius: 25px;
}

.downloadTitle {
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-emphasis: none;
    text-decoration: none;
}

a.inlineLink {
    display: inline-block;
}

a.inlineLink:link, a.inlineLink:visited, a.inlineLink:hover, a.inlineLink:active {
    font-weight: bold;
    text-decoration: underline;
}

li {
    text-align: left;
}

.bold {
	font-weight: bold;
}

.spacer {
    min-height: 12vh;
}

section {
    box-sizing: border-box;
    padding: 5vh 10% 5vh;
	width: 100%;
    
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.section h1 {
	font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
}

#section-demo {
	min-height: 0px;
	background-color: #111111;
}

.subheader {
    margin-bottom: 5vh;
    font-size: xx-large;
}

.imageWrapper, .homeImage {
    width: 100%;
}

.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text Gallery */

.textGallery {
    justify-items: center;
    overflow: hidden;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;;
    margin: 10px 0;
}

.stage {
    position: relative;
    left: -100%;
    transition: left 1s;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    justify-items: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.dotSelected {
    background-color: blue;
}